* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #473f73;
  --color-bg2: #7e64a4;
  --color-break: #ff1f3a;

  --containter-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
  /* background-image: url("./images/bg-texture.png");*/
}

.container {
  width: var(--containter-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-break);
  color: var(--color-white);
}

/* Navbar */

nav {
  background: rgba(255, 255, 255, 0.2);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.window-scroll {
  background: var(--color-bg1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav__menu a:hover {
  color: var(--color-bg2);
}

header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 74vh;
  margin-bottom: 5rem;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 1rem 0 2.4rem;
  align-items: flex-end;
}

.header__right-image {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 40%;
}

/* Teaching Subjects */

.courses h1 {
  line-height: 1;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  align-self: center;
}

.teaching__container {
  height: auto;
}

.courses__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  width: 100%;
  align-self: center;
}

.course {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: rgba(255, 255, 255, 0.2);
}

.course__header {
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.course h3 {
  font-size: 1.2rem;
  line-height: 2.2;
  margin-top: 1rem;
}

.course__icon {
  align-self: flex-start;
  font-size: 1.5rem;
}

.course__details {
  margin-top: 0.8rem;
  display: none;
}

.course.open .course__details {
  display: block;
}

.course__details ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.course__details p {
  font-size: 1.1rem;
}

.course__details a {
  font-size: 1.1rem;
}

.course__details .additional__info {
  margin-left: 2.4rem;
}

/* Research Interests */
.interests {
  height: auto;
}

.interests h1 {
  line-height: 1;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.interests__container {
  display: grid;
  grid-template-rows: auto;
}

.interests__top {
   height: fit-content;
}

.interests__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.interest {
  background: var(--color-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.interest:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.interest:nth-child(2) .interest__icon {
  background: var(--color-danger);
}

.interest:nth-child(3) .interest__icon {
  background: var(--color-success);
}

.interest:nth-child(4) .interest__icon {
  background: var(--color-warning);
}

.interest:nth-child(5) .interest__icon {
  background: var(--color-success);
}

.interest__icon {
  background: var(--color-primary);
  padding: 0.4rem;
  border-radius: 0.9rem;
  font-size: 2rem;
}

.interest h5 {
  margin: 2rem 0 1rem;
  font-size: 1.4rem;
}

.interest p {
  font-size: 0.85rem;
}

/* Footer */

footer {
  background: rgb(255, 255, 255, 0.9);
  padding-top: 3rem;
  font-size: 0.9rem;
  color: var(--color-bg);
  margin: 0;
}

.footer__container {
  display: grid;
  grid-template-columns: 71% 29%;
}

.footer__container p {
  color: var(--color-bg);
}

.footer__container a {
  color: var(--color-bg);
}

.footer__container>div h2 {
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.footer__1 img {
  width: 30%;
}

.footer__info {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.footer__1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__copyright {
  text-align: center;
  margin-top: 2rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
  color: var(--color-bg);
}

/* About Me */

.aboutme__container {
  display: flex;
  flex-direction: column;
}

.aboutme h1 {
  line-height: 1;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.aboutme h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.aboutme ul p {
  font-size: 1.2rem;
}

.aboutme ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.aboutme .extra__details {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 1rem;
  margin-left: 3rem;
}

.aboutme .extra__details i {
  font-size: 1rem;
}

.aboutme .extra__details__elem {
  margin-top: 0.15rem;
}

.aboutme ul li i {
  font-size: 1.5rem;
}

.aboutme .additional__info {
  font-size: 1rem;
}

.aboutme .simple__text {
  margin-top: 1rem;
}

.btn__cv {
  width: 10%;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}


/* About me - Hobbies */

.hobbies {
  margin-top: 10rem;
}

.hobbies__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.hobby {
  background: var(--color-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.hobby:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.hobby__image {
  height: 40%;
}

.hobby__image img {
  height: 100%;
}

.hobby__info {
  padding: 2rem;
}

.hobby__info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

.bita__image {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.bita__image img {
  width: 30%;
}

/* About me - Gallery */
.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.gallery__container img {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

/* Contact */
.contact__container {
  background: var(--color-bg1);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 36rem;
  margin: 7rem auto;
  border-radius: 1rem;
}

.contact__aside {
  background: var(--color-bg2);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
}

.aside__image {
  width: 15rem;
  margin-bottom: 2rem;
}

.contact__aside h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.contact__aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.contact__details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
  margin-top: 0;
}

.form__name {
  display: flex;
  gap: 1.2rem;
}

#firstname {
  width: 100%;
}

#lastname {
  width: 100%;
}

.contact__form input[type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background: var(--color-bg);
  color: var(--color-white);
}

textarea {
  height: 6rem;
}

.contact__form .btn {
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}

/* Tablets size */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* Navbar */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav__menu li:nth-child(5) {
    animation-delay: 800ms;
  }

  /* Header */
  header {
    height: 52vh;
    margin-bottom: 4rem;
  }

  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }

  .header__right-image {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20%;
  }

  /* Interests */
  .interests {
    overflow: hidden;
    height: auto;
    width: 100%;
  }

  .interests__container {
    grid-template-rows: 1fr;
    gap: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Teaching */
  .courses__container {
    width: 100%;
  }

  .course {
    padding: 1.5rem;
  }

  .course__details ul li {
    margin: 0;
  }

  .course__details .additional__info {
    margin: 0;
  }

  /* Footer */
  .footer__container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }

  /* Gallery */
  .gallery__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  /* Hobbies */
  .hobbies__container {
    grid-template-columns: 1fr;
  }

  .bita__image img {
    width: 80%;
  }

  .btn__cv {
    width: 30%;
  }

  /* Contact */
  .contact {
    padding-bottom: 0;
  }

  .contact__container {
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }

  .contact__aside {
    width: auto;
    padding: 1.5rem;
    bottom: 0;
  }

  .contact__form {
    align-self: center;
    margin-right: 1.5rem;
  }
}

/* Phone Size */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  /* Navbar */
  .nav__menu {
    right: 3%;
  }

  /* Header */
  header {
    height: 100vh;
  }

  .header__container {
    grid-template-columns: auto;
    text-align: center;
    margin-top: 0;
  }

  .header__left p {
    margin-bottom: 0rem;
  }

  .header__right-image {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 16%;
  }

  /* Teaching */
  .courses__container {
    width: 100%;
    align-items: left;
  }

  .course__icon {
    display: none;
  }

  .teaching__container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .courses h1 {
    margin-left: 3%;
  }

  .course__details ul li {
    margin: 1rem 0;
  }

  /* Interests */
  .interests__bottom {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .interest {
    padding: 1rem;
    border-radius: 1rem;
  }

  .interest__icon {
    margin-top: 4px;
    display: inline-block;
  }

  /* Footer */
  .footer__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .btn__cv {
    width: 50%;
  }

  /* Contact */
  .contact__container {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 0;
    padding: 0;
  }

  .contact__form {
    margin: 0 1.5rem 3rem;
  }

  .form__name {
    flex-direction: column;
  }

  .form__name input[type="text"] {
    width: 100%;
  }
}